<div class="container">
    <div class="registration-class">
    <mat-card>
        <mat-card-title class="p-15">
            <h2>Sign Up</h2></mat-card-title>
        <mat-card-content>

            <form [formGroup]="registrationForm" (ngSubmit)="register()">
                <div>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Enter First Name" formControlName="firstName">
                        <mat-error *ngIf="f.firstName.invalid && (f.firstName.dirty || f.firstName.touched)">First Name is required</mat-error>
                        <mat-error *ngIf="f.firstName.dirty && f.firstName.invalid && f.firstName.errors?.firstName">Enter valid First Name</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Enter Last Name" formControlName="lastName">
                        <mat-error *ngIf="f.lastName.invalid && (f.lastName.dirty || f.lastName.touched)">Last Name is required</mat-error>
                        <mat-error *ngIf="f.lastName.dirty && f.lastName.invalid && f.lastName.errors?.lastName">Enter valid last Name</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Enter Contact" formControlName="contact">
                        <mat-error *ngIf="f.contact.invalid && (f.contact.dirty || f.contact.touched)">Contact is required</mat-error>
                        <mat-error *ngIf="f.contact.dirty && f.contact.invalid && f.contact.errors?.contact">Enter valid contact number</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input type="email" matInput placeholder="Enter Email" formControlName="email">
                        <mat-error *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">Email is required</mat-error>
                        <mat-error *ngIf="f.email.dirty && f.email.invalid && f.email.errors?.email">Enter valid email</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Enter Password" formControlName="password">
                        <mat-error *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">Password is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="width-full text-center bg-primary radius-5">
                    <button class="width-full bg-primary" style="color: white;" type="submit" mat-flat-button>Register</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
    </div>
</div>